html, body, div#__next {
  overflow: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: red;
    &:visited {
      color: red;
    }
    &:hover {
      color: green;   
    }
    &:active {
      color: yellow;
    }
}